html,
body {
  min-height: 100% !important;
  min-width: 100% !important;
}

body {
  display: flex !important;
  flex-direction: column !important;
}

main {
  flex: 1 !important;
  min-height: 70vh !important;
}

footer {
  margin-top: auto !important;
  min-width: 100% !important;
}
